@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');
@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');
:root {
  --level-1: #fff;
  --level-2: #fff;
  --level-3: #fff;
  --level-2-1: #fff;
  --weight: 400;
}
html{line-height: 0;}
body{opacity: 0; background-color:var(--level-1);}
*{
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  font-family:'Roboto', 'Noto Sans KR', sans-serif;
  word-break: keep-all;
  font-size: 24px;
  /* transition: background-color .4S; */

}
a{
  color:var(--level-3);
  text-decoration: none;
  border-bottom: 1px solid var(--level-3);
}
.deactivated{
  color:var(--level-3);
}
.deactivated:hover{
  /* color:var(--level-2); */
  opacity: .8;
  transition: 0.4S;
}
::selection {
  background-color: var(--level-3);
  color:var(--level-1); /* WebKit/Blink Browsers */
}

.invis{display:none !important}
.vis{display:block !important}

::-webkit-scrollbar {display: none;}
::placeholder {
  transition: .4S;
    color: var(--level-1);
    opacity: 1;
}
input {
  background-color: var(--level-3);
  color: var(--level-1);
  border: none;}
input:focus {
  outline: none !important;
  border: none;
}
.h-sel{color : var(--level-2);}
.h-sel:hover{color : var(--level-3); transition: .4S;}

.screenInvis{display: none;}

/*버튼*/
.close-svg{width: 36px; height: 36px;}
.close-svg:hover{cursor: pointer;}
.close-svg-lv-3{z-index: 30; left: 36px; }
.close-svg-lv-2{z-index: 20; right: 10px; bottom: 10px;}
.close-svg-lv-3:hover{opacity: 0.8; transition: .4S}
.btn-wrapper{width: 0px; height: 0px; overflow: visible; margin-right: 36px; margin-top: 2px}
.btn-hover-wrapper{width: 0px; height: 0px; overflow: visible; display: none;}
.w-footer .btn-wrapper{margin-top: -2px;}
/* .info-close .btn-wrapper{margin-right: 5px;} */
/*레퍼*/
#wrapper{background-color: var(--level-1); transition: background-color 10s;}
body{ height: 100%; overflow-y: hidden;}
/*헤더*/
header {width: 100%; background-color: var(--level-1); height: 50px; border-bottom: 1px solid var(--level-3); padding-top: 24px; padding-left: 10px; padding-right: 10px; box-sizing: border-box; position: fixed; z-index: 10000}
header .h-lang{float:right;}
header .h-home{float: left;}
header .h-profile{float: left; margin-left: calc(50vw + 1px);}
header a{border-bottom: none}
header a:hover{
  /* color: var(--level-2); */
  opacity: .8; transition: .4S; cursor: pointer;}

/*푸터*/
footer {width: 100%; background-color: var(--level-1); height: 50px; border-top: 1px solid var(--level-3); padding-top: 24px; padding-left: 10px; padding-right: 10px; box-sizing: border-box; display: inline-block; color: var(--level-3); display: none}

/*인포*/
#info {background-color: var(--level-1); vertical-align: top; padding-left: 10px; padding-right: 10px; color: var(--level-3); border-bottom: 1px solid var(--level-3); padding-top: 0px; overflow-y: hidden; height: 0px; position: relative; background-color: var(--level-1); position: fixed; top: 49px; z-index:10000;}
#info-1, #info-2, #info-3, #info-4{width: calC(50vw - 20px); display: inline-block; white-space: pre-line;  vertical-align: top; padding-top: 3px; padding-bottom: 10px; margin-bottom: 25px;}
#info-1{margin-right: 10px; margin-top: 15px}
#info-2{margin-left: 10px;  margin-top: 15px}
#info a:hover{
  /* color: var(--level-2); */
  opacity: .8;
   transition: .4S;
   /* border-bottom-color: var(--level-2); */
 }
#info div [data-lang='eng']{line-height: 1.35;}
#info div [data-lang='kor']{line-height: 1.5;}
.info-close{width: 100%; box-sizing: border-box; text-align: right; line-height: 0; padding-right: 3px; text-align: right; position: absolute; bottom: 46px;}
.info-close .btn-wrapper, .info-close .btn-hover-wrapper{
position: relative; left: calc(100vw - 60px); bottom: 3px;
}

/*좌우 컨테이너*/
#left{width: calc(50vw - 0px); overflow-y: visible; float: left; background-color: var(--level-1); z-index: 9999; position: absolute; border-right: 1px solid var(--level-3); height: 100%; overflow-y: scroll;}
#right{width: 50%; float:right; height: 100%; overflow-y: scroll; background-color: var(--level-1); position: relative; right: 0;height: 100%; }
#wrapper{font-weight: var(--weight);}
.w-wrapper{position: fixed;}
.bg-wrapper{width: 0px; overflow: visible; height: 0;}
.bg{width: calc(50vw - 0px); overflow-y: scroll; background-color: var(--level-1); position: fixed; height: 100vh; left: 0; display: inline-block;}
/* .bgw{position: fixed;} */
/* 그리드*/
#g-wrapper {padding-top: 49px; height: calc(100vh - 49px); overflow-y: scroll;  background-color: var(--level-1);}
.g-element::before, #g-wrapper .g-element {vertical-align: middle;}
.g-element::before {content: ''; display: inline-block; width: 0px; height: 100%;}
.g-element img::before {content: '';  display: inline-block; width: 0px; height: 100%;}
.g-element{width:33.3%; height:153.1px; max-height: 153.1px; border-left: 1px solid var(--level-3); border-top: 1px solid var(--level-3); text-align: center; display: -webkit-inline-block; display: inline-block; overflow: hidden; box-sizing: border-box;}
.g-element:nth-child(3n){width: calc(33.4%);}
.g-element .gridContainer{width: auto; height: auto; background-color: var(--level-2); display: inline-block;}
.g-element img{max-width: calc(16.6vw - 21px); max-height: 122px; display: inline-block; vertical-align: middle;}
.g-element img:hover{cursor: pointer; transition: .4S;}
.helper {display: inline-block; height: 100%; vertical-align: middle;}
.w-list-selected img{visibility: hidden;}

/*work 워크*/
/* .l-work{padding-bottom: 13px;} */

.w-list{color: var(--level-3); height:42px; padding-left: 10px; padding-right: 10px; padding-top: 8px; border-bottom: 1px solid var(--level-3); line-height: 1.5;
overflow: hidden; width: calc(50vw - 20px);}
.w-list:hover{
  /* color: var(--level-2-1); */
  /* opacity: .8 */
}
.w-list-wrapper{margin-top:0px; padding-top: 50px; width: calc(50% - 1px);}
.w-list-title{white-space: nowrap; text-overflow: ellipsis; width: 70%; overflow-x: hidden; display: inline-block;}
.w-list-year{float: right; display: inline-block;}
.w-list-wrapper:hover{cursor: pointer;}
.w-list:hover{background-color: var(--level-3); color: var(--level-1); transition: 0.4S}
.w-hovered{background-color: var(--level-3); transition: 0.4S; color: var(--level-1)}
.w-list-selected{color: var(--level-3); background-color: var(--level-3)}
.w-list-selected:hover{color: var(--level-3); transition: 0.4S}
.w-list-arrow{display: none;}
.w-list-selected .w-list-arrow{color: var(--level-3); text-align: center; margin-left: -10px; transition:0.4S; z-index: 1; display: block;}
/* #left .w-list-arrow{left: 24.5%;}
#right .w-list-arrow{right: 24.5%;} */
/* .w-list-selected:hover > .w-list-arrow{transform: rotateY(180deg) ; transition:0.4S; color: var(--level-2);} */
.w-header:hover > .w-title{
  /* color: var(--level-2); */
  opacity: .8;
  transition:0.4S;}
.w-list-wrapper div:nth-last-child(2){border-bottom:none;}
.w-list-wrapper div:nth-last-child(1){border-bottom:none;}

.w-desc-add{color: var(--level-3); margin-top: 10px; margin-bottom: 10px; display: inline-block; text-align: left; white-space: pre-line; line-height: 1.35;}
.w-desc [data-lang='eng']{line-height: 1.35;}
.w-desc [data-lang='kor']{line-height: 1.5;}
.w-thumb{text-align: left}

.work-close-1{float: right; margin-right: 14px; }
.work-close-2{float: right; margin-right: 14px; margin-top: 7px;}
.list:hover{cursor: default; background-color:  var(--level-1);}
/*템플릿*/
.l-template{width:100%; height: 100%; overflow-x:hidden; overflow-y:hidden; max-width: 50vw; border-left: 1px solid var(--level-3); padding-left: 10px}
#l-eng-template{position: fixed; left: 50vw; top:0px;}
.w-wrapper{ padding-top: 61px; height: calc(100% - 40px); width:50vw; position: absolute; overflow-y:scroll; border-right: 1px solid var(--level-3);}

#left .l-template{max-width: calc(50vw - 1px)}
/* #right .w-wrapper{left: -50vw;} */
#left .w-wrapper{right: calc(-50vw); border-left: 1px solid var(--level-3); border-right: none;}

.w-desc{margin-left: 10px;}
.w-desc-add{margin-left: 10px;}

/* .w-list-wrapper{padding-top: 0.5px;} */

.w-header{width: calc(100% - 20px); margin-left: 10px; height:161px; border-bottom: 1px solid var(--level-3);}
/* .w-header:hover #w-btn-close{border-bottom: 1px solid var(--level-2); transition:0.4S; color:var(--level-2);} */
/* .w-title:hover{transition:0.4S; color:var(--level-2);} */
.w-title{max-width: 80%;}
.l-template .btn-close{color: var(--level-3); width: calc(100% - 20px); text-align: right; height: 168px; display: inline-block; padding-top: 8px;}

.w-footer{height: 55px; color: var(--level-3); box-sizing: border-box; margin-top: 35px; padding-left: 10px}
.w-footer .btn-prev{text-align: left; height: 15px; display: inline-block; margin-top: 30px; padding-bottom: 0px; float: left;}
/* #w-eng-wrapper-0  .btn-prev span{display: none;} */
.w-footer .btn-next{text-align: left; height: 15px; display: inline-block; margin-top: 30px; padding-bottom: 0px; float: left;}
 /* width: calc(33% - 10px); */
.w-footer .btn-close{width: calc(33%);  text-align: center; height: 15px; display: inline-block; margin-top: 30px; padding-bottom: 0px;}

.w-footer .btn-prev:hover,
.w-footer .btn-next:hover,
.w-footer .btn-close:hover{
  color:var(--level-2);
  opacity: .8;
  transition: 0.4S; cursor: pointer;}
.hollow{float: left; display: inline-block; height: 15px;}
.w-body{width: 100%;}

.w-col{color: var(--level-3); width: calc(100% - 20px); margin-top: 0px; margin-bottom: 0px;}
.w-col a:hover{
  opacity: .8;
  /* color:var(--level-2); */
  transition: 0.4S;
  /* border-bottom: 1px solid var(--level-2); */
}
#left .w-col{line-height: 1.52;}
#right .w-col{line-height: 1.35;}
.w-thumbwrapper{text-align: center;}
.w-thumb{margin-top: 10px;}
.w-thumb iframe{width: 100%; overflow-y: visible; min-height: 33vw;}
.w-thumb iframe video{left: 0px !important; width: 100% !important; height: auto !important;}
/*
.w-footer .btn-lang{float: left; width: 20%; text-align: left; height: 15px; display: inline-block; margin-top: 50px; margin-left: 10px;}
.w-footer .btn-lang span:hover{color:var(--level-2); border-bottom: 1px solid var(--level-2); transition: 0.4S;} */

.w-list-close{display: none;}

/*header 푸터*/
.l-footer{display: none; color: var(--level-3); margin-left: 10px; display: inline-block; margin-top: 24px; padding-bottom: 45px;}





@media screen and (min-width:769px) and (max-width: 960px){
  .l-information .i-col{width: 100%}
  .i-col{width: calc(100% - 20px);}
  .col_left{float: left;}
  .col_right{float: none;}
  .l-information .w-col{width: 100%}
  .w-col{width: calc(100% - 20px);
    margin-top: 0px; margin-bottom: 0px;
  }}

@media screen and (max-width:768px){
  body{overflow-y: scroll; height: 100vh; padding-bottom: 16px;}
  *{font-size:18px}
  #left{width: 100%; height: 105vh; overflow-y: scroll;  -webkit-overflow-scrolling: touch;}
  #right{width: 0%; height: 105vh; overflow-y: scroll;   -webkit-overflow-scrolling: touch;}
  #l-eng-mixup{width: 100%}

  #left .w-col{line-height: 1.35;}
  #right .w-col{line-height: 1.52;}
  .l-header{position: fixed; background-color:var(--level-1); width: 100%; height: 20px; z-index: 10;}
  .l-news{position: fixed; top:43px; width: 100%}
  .l-infomation{position: fixed; top:43px; width: 100%}

  #g-wrapper{display: none; }
  .w-list{width: calc(100vw);  height: 50px; padding-top: 12px;}
  .dummylist{display: none}
  .w-list-wrapper{background-color:var(--level-1);
  padding-top: 50px;}
  .w-list-selected .w-list-arrow{display: none;}
  .x-wrapper{width: 100%}
  .w-list-wrapper div img{width:100% !important}
  .clearfix:after {
   content: ".";
   display: block;
   clear: both;
   visibility: hidden;
   line-height: 0;
   height: 0;
 }

 .screeninvis{display: block;}
 .mobileinvis{display: none;}

 .l-information .i-col{width: 100%}
 .i-col{width: calc(100% - 20px);}
 .col_left{float: left; margin-left: 10px;}
 /* .col_right{ margin-left: 10px;} */
 .w-list-selected{color: var(--level-3);}
 .l-work{min-width: 245px;}
 #h-eng-btn-lang, #h-kor-btn-lang{display: block;}
 .n-col input[type=email]{padding: 9px 9px 10px 7px; width: 55%; display: inline-block;}
/**//**//**//**//**/
 .l-sort{padding-top:14px}
/**//**//**//**//**/
 .w-list{border-top:1px solid var(--level-3);border-bottom: 0px; box-sizing: border-box;}
   .w-list-wrapper>div:last-child{border-bottom:1px solid var(--level-3);}
 .w-list-mob{height:auto;}
 .w-list:hover{color: var(--level-3);}
 .w-list-selected{color: var(--level-3);}
 .w-list-selected:hover{color: var(--level-3);}
 .w-list-wrapper div:first-child{border-top: 0px;}
 .w-col{width:calc(100% - 20px); margin-left: 10px; margin-bottom: 0px; margin-top: 10px; margin-right: 10px;}
 .w-list-title-mob{white-space : normal; max-height: 78px;}
 .w-wrapper-mob .w-thumb:last-child{margin-bottom: 64px;}
 .w-wrapper-mob{padding-top: 6px; height: 0px; padding-bottom: 1px; overflow: auto;}
 .w-list-close{float: right; line-height: 1.5;}
 .w-list-close span{border-bottom: 1px solid var(--level-3);}
 .w-list-close span:hover{border-bottom: 1px solid var(--level-2); color:var(--level-2); transition: 0.4S}
 .w-list-wrapper div img{width:100% !important}
 .w-wrapper-mob{border-bottom: 0px;}
 .w-image{display: inline-block;}
 /* .w-container-mob{height: auto; overflow-y: hidden;} */
 #l-eng-template{visibility: hidden;}
 #l-kor-template{visibility: hidden;}
 /* #h-eng-btn-lang{margin-top: -0.5px;} */
 .w-list-wrapper:hover{cursor: default;}
::selection { background: var(--level-1); color: var(--level-3); /* WebKit/Blink Browsers */}
 .btn-sort-alphabet:hover, .btn-sort-date:hover{color: var(--level-3);}
}
